@use '../abstracts' as *;

.btn {
	appearance: none;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	border: 1px solid var(--clr-primary);
	transition: all 0.15s ease-in-out;
	&--primary {
		background-color: var(--clr-primary);
		color: var(--clr-white);
		border-radius: 4px;
		padding: 6px 12px;
		transition: background-color 0.2 ease;
		&:hover {
			background-color: oklch(from var(--clr-primary) calc(l * 0.8) c h);
		}
	}

	&--cta {
		border-radius: var(--radius-base);
		text-transform: uppercase;
		text-decoration: none;
		background-color: var(--clr-primary);
		color: var(--clr-white);
		padding-block: 6px;
		padding-inline: 14px;
		display: inline-flex;
		align-items: center;
		column-gap: 6px;

		&::after {
			content: '';
			width: 11px;
			height: 11px;
			background-color: var(--clr-black);

			// background-image: url('../assets/svg/arrow-right.svg');
		}
	}
}
