<div class="container">
	<div class="accordion">
		<div class="accordion__item">
			<h3 class="accordion__header">
				<button class="accordion__toggler" aria-expanded="true" aria-controls="collapse-1">
					Accordion Header 1
				</button>
			</h3>

			<div id="collapse-1" class="accordion__collapse show">
				<div class="accordion__body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, animi cum laborum iste assumenda
					ipsam adipisci consequatur asperiores excepturi, accusantium ut molestias aliquam exercitationem. Natus
					mollitia placeat labore illum.
				</div>
			</div>
		</div>

		<div class="accordion__item">
			<h3 class="accordion__header">
				<button class="accordion__toggler" aria-expanded="false" aria-controls="collapse-2">
					Accordion Header 2
				</button>
			</h3>

			<div id="collapse-2" class="accordion__collapse collapse">
				<div class="accordion__body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, animi cum laborum iste assumenda
					ipsam adipisci consequatur asperiores excepturi, accusantium ut molestias aliquam exercitationem. Natus
					mollitia placeat labore illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae enim
					ea eveniet, quia harum dignissimos alias, facilis, porro perspiciatis numquam praesentium maxime iusto
					sint tenetur odio adipisci quo saepe officia! Ex veritatis animi repellat dolorum odit quas nihil
					repellendus quasi obcaecati. Itaque, atque. Neque, tempora. Enim nostrum quas sint? Illum numquam fugiat
					nulla doloremque maiores minus est et reiciendis mollitia! Porro, soluta quasi, voluptatum, distinctio
					dolorem sequi ipsa vitae iusto debitis itaque quos numquam fugit obcaecati inventore quia ipsam tempore
					nisi? Explicabo recusandae aperiam suscipit odio cupiditate magni. Reprehenderit, enim? Odio voluptate
					maiores cumque ab ea repellendus ut labore quidem minima adipisci, aliquid illum animi expedita enim rem
					nulla veniam ex neque. Facilis enim doloribus corrupti veniam quia? Consequuntur, labore. Hic maiores
					adipisci quo animi tempora accusantium quae provident autem ab velit ex magni, accusamus, explicabo
					laborum ipsa? Recusandae, nobis? Quas tempore nam minus praesentium culpa dolor in iusto voluptate.
				</div>
			</div>
		</div>

		<div class="accordion__item">
			<h3 class="accordion__header">
				<button class="accordion__toggler" aria-expanded="false" aria-controls="collapse-3">
					Accordion Header 3
				</button>
			</h3>

			<div id="collapse-3" class="accordion__collapse collapse">
				<div class="accordion__body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, animi cum laborum iste assumenda
					ipsam adipisci consequatur asperiores excepturi, accusantium ut molestias aliquam exercitationem. Natus
					mollitia placeat labore illum.
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<hr />
<br />
<div class="container">
	<div class="accordion">
		<div class="accordion__item">
			<h3 class="accordion__header">
				<button class="accordion__toggler" aria-expanded="false" aria-controls="collapse-3">
					Accordion Header 2
				</button>
			</h3>

			<div id="collapse-3" class="accordion__collapse collapse">
				<div class="accordion__body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, animi cum laborum iste assumenda
					ipsam adipisci consequatur asperiores excepturi, accusantium ut molestias aliquam exercitationem. Natus
					mollitia placeat labore illum.
				</div>
			</div>
		</div>

		<div class="accordion__item">
			<h3 class="accordion__header">
				<button class="accordion__toggler" aria-expanded="false" aria-controls="collapse-4">
					Accordion Header
				</button>
			</h3>

			<div id="collapse-4" class="accordion__collapse collapse">
				<div class="accordion__body">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat, animi cum laborum iste assumenda
					ipsam adipisci consequatur asperiores excepturi, accusantium ut molestias aliquam exercitationem. Natus
					mollitia placeat labore illum.
				</div>
			</div>
		</div>
	</div>
</div>
