<div class="container">
  <div
    class="skeleton"
    style="width: 300px; height: 300px; border-radius: 100%"
  ></div>
  <div
    class="grid grid-cols gap-4"
    style="--temp-cols: repeat(3, minmax(0, 300px))"
  >
    <div class="card">
      <img
        width="300"
        height="300"
        class="card__image skeleton"
        src="https://picsum.photos/id/237/300/300"
        alt=""
      />
      <div class="card__body">
        <h2 class="card__heading">Card heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
          cumque, voluptates harum dolore, amet nostrum enim animi dolor, hic
          nihil aut at dolorum! Numquam quidem saepe quas quae excepturi natus.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        width="300"
        height="300"
        class="card__image"
        src="https://picsum.photos/id/237/300/300"
        alt=""
      />
      <div class="card__body">
        <h2 class="card__heading">Card heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
          cumque, voluptates harum dolore, amet nostrum enim animi dolor, hic
          nihil aut at dolorum! Numquam quidem saepe quas quae excepturi natus.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="skeleton"></div>
      <div class="card__body">
        <div
          class="skeleton"
          style="height: 22px; margin-bottom: 16px; width: 70%"
        ></div>
        <div class="skeleton" style="height: 16px"></div>
        <div class="skeleton mt-2" style="height: 16px"></div>
        <div class="skeleton mt-2" style="height: 16px"></div>
        <div class="skeleton mt-2" style="height: 16px"></div>
      </div>
    </div>
  </div>

  <div class="mt-5 card card--cols">
    <img
      class="card__image"
      src="https://picsum.photos/id/237/600/300"
      alt=""
    />
    <div class="card__body">
      <h2 class="card__heading">This is a heading</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id quis
        placeat eveniet amet deleniti soluta repellendus consequatur quo
        blanditiis, atque hic sed enim minus veritatis? Dolorum consectetur
        culpa vitae.
      </p>
    </div>
  </div>

  <div class="mt-5 card card--cols">
    <div class="skeleton" style="aspect-ratio: 500 / 227"></div>
    <div class="card__body">
      <div
        class="skeleton"
        style="height: 22px; margin-bottom: 16px; width: 55%"
      ></div>
      <div class="skeleton mt-2" style="height: 16px"></div>
      <div class="skeleton mt-2" style="height: 16px"></div>
      <div class="skeleton mt-2" style="height: 16px"></div>
    </div>
  </div>
</div>
