<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container collapseRootEl">
      <div class="collapseEl collapse" aria-hidden="false">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad doloremque cumque natus quidem! Quos assumenda
          impedit obcaecati modi consequuntur! Blanditiis similique aspernatur beatae iure a assumenda exercitationem
          rem laboriosam incidunt.
        </p>
      </div>
      <button class="btn--toggler" aria-expanded="false" aria-controls="toggleableArea">
        <span class="text-label">toggle</span>
      </button>
    </div>
  </body>
</html>
